<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Whitelabel</string>
	<key>WhitelabelBrandName</key>
	<string>core</string>
	<key>WhitelabelBrandColor</key>
	<string>#8F8F8F</string>
	<key>PostHogProjectToken</key>
	<string>phc_raG2H9V246hkNZk6K89DZGG98qQyPrKKlicifGlpOXA</string>
	<key>PostHogHost</key>
	<string>https://internal-c.posthog.com</string>
</dict>
</plist>
